.feedbackList {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.feedbackBtn {
  padding: 5px;
  width: 90px;
  color: rgb(49, 52, 52);
  background-color: white;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;

}

.feedbackBtn:hover,
:focus {
  background-color: yellowgreen;
}